:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --current-color: black;
  }
  
  #container {
    width: 356px;
    height: 390px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }

  .grid-item {
    padding: 1px;
    border: 1px solid black;
  }

  .color {
      background: var(--current-color);
  }
  
 