:root {
    --grid-cols: 16;
    --grid-rows: 16;
    --current-color: black;
  }
  
  #container {
    width: 356px;
    height: 390px;
    display: grid;
  }

  #container div {
      border: 1px solid black;
  }


  
 